<h1>Enter a Manufacturer</h1>

<%= form_for @manufacturer do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :country %>
<%= f.text_field :country %>

<%= f.submit "Submit" %>
<% end %>
<%= link_to "Back", manufacturers_path %>
